[loggers]
keys = root, create_spark, validate, ingest, data_processing, data_transformation, saving

[handlers]
keys = consoleHandler, fileHandler

[formatters]
keys = sampleFormatter

[logger_root]
level = DEBUG
handlers = consoleHandler, fileHandler

[logger_create_spark]
level = INFO
handlers = fileHandler
qualname = Create_spark
propogate = 0

[logger_validate]
level = WARN
handlers = fileHandler
qualname = Validate
propogate = 0

[logger_ingest]
level = WARN
handlers = fileHandler
qualname = Ingest
propogate = 0

[logger_data_processing]
level = INFO
handlers = fileHandler
qualname = Processing
propogate = 0

[logger_data_transformation]
level = INFO
handlers = fileHandler
qualname = Transformation
propogate = 0

[logger_saving]
level = INFO
handlers = fileHandler
qualname = Saving
propogate = 0

[handler_consoleHandler]
class = StreamHandler
level = DEBUG
formatter = sampleFormatter
args = (sys.stdout,)

[handler_fileHandler]
class = FileHandler
level = DEBUG
formatter = sampleFormatter
args = ('application.log',)

[formatter_sampleFormatter]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s
